<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            Hi. We are researchers who study software engineering belong to Seoul National University Of Science & Technology, South Korea.<br>
            We will use your responses for our research.<br>
            Now, I explain how to answer this survey.<br>
            <br>
            Example.<br>
        </div>
        <img src="/public/img/basic_screen.png">
        <div class="contents">
            <br>
            You will answer five pages. Each page shows a pair of JAVA code.<br>
            The JAVA code on the left side changes to the code on the right side.<br>
            The changes are marked with color line by line.<br>
            If you click the boxes on the middle of two codes, you can move to the changed line.
            <br>
            You compare the codes and add edit scripts.<br>
            <br>
            Please press the "Next" button.<br>
        </div>
    </body>
</html>