<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            If you find the all edit scripts correctly, the buttons which show file numbers on the top turn green color.<br>
            The red color of the buttons on the top means that you miss or incorrectly make edit scripts.<br>
            <br>
            After all of the buttons on the top turn green color, you can click the finish button and move to a last page.<br>
        </div>
        <img src="/public/img/check_example.png">
        <div class="contents">
            <br>
            <br>
            The image below is a last page.<br>
            You copy the unique code and submit to M-Turk.<br>
        </div>
        <img src="/public/img/finish_example.png">
        <div class="contents">
            <br>
            <br>
        </div>
    </body>
</html>